/* reset */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: "微软雅黑", Verdana, SimHei, "Microsoft JhengHei", Tahoma;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.break-word {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.shadow {
    -moz-box-shadow: 1px 1px 10px rgb(213, 213, 213);
    -webkit-box-shadow: 1px 1px 10px rgb(213, 213, 213);
    box-shadow: 1px 1px 10px rgb(213, 213, 213);
}

/* style of normal table */
table.normal {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

table.normal thead {
    border-bottom: 1px solid #000000;
}

table.normal thead th {
    font-weight: bold;
    text-align: center;
    background-color: #F3F3F3;
}

table.normal tbody tr {
    border-bottom: 1px dashed #cccccc;
}

table.normal th, table.normal td {
    padding: 5px;
    font-size: 10pt;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

table.normal thead th div.filter {
    position: relative;
    float: right;
    font-weight: normal;
}

table.normal thead th div.filter button.filter {
    vertical-align: top;
    padding: 9px 9px;
    background: url("images/table-filter.png") no-repeat;
    cursor: pointer;
}

table.normal thead th div.filter button.filter.asc {
    background-position: -19px 0;
}

table.normal thead th div.filter button.filter.desc {
    background-position: -37px 0;
}

table.normal thead th div.filter button.filter.filtered {
    background-position: -90px 0;
}

table.normal thead th div.filter button.filter.filtered.asc {
    background-position: -72px 0;
}

table.normal thead th div.filter button.filter.filtered.desc {
    background-position: -54px 0;
}

/* style about image */
img.link {
    cursor: pointer;
}

/* style about transparent */
.lightTransparent {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.mediumTransparent {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.deepTransparent {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

@-webkit-keyframes rotate-animation {
    0% {
        -webkit-transform: perspective(800px) rotateY(0deg);
    }
    70% {
        -webkit-transform: perspective(800px) rotateY(200deg);
    }
    100% {
        -webkit-transform: perspective(800px) rotateY(180deg);
    }
}

@-moz-keyframes rotate-animation {
    0% {
        -moz-transform: perspective(800px) rotateY(0deg);
    }
    70% {
        -moz-transform: perspective(800px) rotateY(200deg);
    }
    100% {
        -moz-transform: perspective(800px) rotateY(180deg);
    }
}

@keyframes rotate-animation {
    0% {
        -webkit-transform: perspective(800px) rotateY(0deg);
        -moz-transform: perspective(800px) rotateY(0deg);
        -ms-transform: perspective(800px) rotateY(0deg);
        -o-transform: perspective(800px) rotateY(0deg);
        transform: perspective(800px) rotateY(0deg);
    }
    70% {
        -webkit-transform: perspective(800px) rotateY(200deg);
        -moz-transform: perspective(800px) rotateY(200deg);
        -ms-transform: perspective(800px) rotateY(200deg);
        -o-transform: perspective(800px) rotateY(200deg);
        transform: perspective(800px) rotateY(200deg);
    }
    100% {
        -webkit-transform: perspective(800px) rotateY(180deg);
        -moz-transform: perspective(800px) rotateY(180deg);
        -ms-transform: perspective(800px) rotateY(180deg);
        -o-transform: perspective(800px) rotateY(180deg);
        transform: perspective(800px) rotateY(180deg);
    }
}

@-webkit-keyframes rotate-inverse-animation {
    0% {
        -webkit-transform: perspective(800px) rotateY(-180deg);
    }
    70% {
        -webkit-transform: perspective(800px) rotateY(20deg);
    }
    100% {
        -webkit-transform: perspective(800px) rotateY(0deg);
    }
}

@-moz-keyframes rotate-inverse-animation {
    0% {
        -moz-transform: perspective(800px) rotateY(-180deg);
    }
    70% {
        -moz-transform: perspective(800px) rotateY(20deg);
    }
    100% {
        -moz-transform: perspective(800px) rotateY(0deg);
    }
}

@keyframes rotate-inverse-animation {
    0% {
        -webkit-transform: perspective(800px) rotateY(-180deg);
        -moz-transform: perspective(800px) rotateY(-180deg);
        -ms-transform: perspective(800px) rotateY(-180deg);
        -o-transform: perspective(800px) rotateY(-180deg);
        transform: perspective(800px) rotateY(-180deg);
    }
    70% {
        -webkit-transform: perspective(800px) rotateY(20deg);
        -moz-transform: perspective(800px) rotateY(20deg);
        -ms-transform: perspective(800px) rotateY(20deg);
        -o-transform: perspective(800px) rotateY(20deg);
        transform: perspective(800px) rotateY(20deg);
    }
    100% {
        -webkit-transform: perspective(800px) rotateY(0deg);
        -moz-transform: perspective(800px) rotateY(0deg);
        -ms-transform: perspective(800px) rotateY(0deg);
        -o-transform: perspective(800px) rotateY(0deg);
        transform: perspective(800px) rotateY(0deg);
    }
}

input[type=image] {
    cursor: default;
}

.float-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 10;
    background-color: #ffffff;
}

div.page-width {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

div.footer {
    background-color: #262626;
    color: #626262;
    line-height: 50px;
    height: 50px;
    text-align: center;
}

div.footer a {
    color: #626262;
}

div.main-body {
    min-height: 700px;
}

input.form-control {
    display: inline-block;
}

div.header {
    width: 100%;
    height: 70px;
    background-color: #1D1E1E;
    color: #ffffff;
}

div.header div.title {
    font-size: 18pt;
    font-style: italic;
    line-height: 70px;
}
