
div.main-body {
    background-color: #e5e5e5;
    padding: 20px;
}

div.main-body > div.page-width {
    position: relative;
    min-height: 600px;
    overflow: hidden;
}

div.main-body > div.page-width > div {
    min-height: 600px;
    height: 100%;
}

div.main-body div.left-page {
    float: left;
    background-color: #ffffff;
    width: 560px;
}

div.main-body div.right-page {
    float: right;
    background-color: #E5EDE8;
    width: 420px;
}

div.main-body div.left-page > div.title,
div.main-body div.right-page > div.title {
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    margin: 0 10px;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

div.main-body div.right-page > div.title {
    color: #2e484c;
}

div.main-body div.right-page > div.title span.predict-phase {
    font-style: italic;
}

div.main-body table {
    margin: 20px 0 40px 25px;
    font-size: 10pt;
    border-collapse: collapse;
}

div.main-body table td, div.main-body table th {
    text-align: center;
    padding: 8px 12px;
    border: 1px solid #ffffff;
}

div.main-body table th {
    font-weight: bold;
}

div.main-body table tr.dark {
    background-color: #EBEBED;
}

div.main-body table span.ball {
    display: inline-block;
    height: 21px;
    line-height: 21px;
    width: 20px;
    color: #fff;
    font-weight: bold;
    background: url("images/ball_bg.gif") no-repeat;
}

div.main-body div.right-page table span.ball {
    width: 21px;
    background-position: -108px 0;
}

div.main-body div.right-page table span.ball.recommend {
    background-position: 0 0;
}

/* only for firefox */
@-moz-document url-prefix() {
    div.main-body table td, div.main-body table th {
        padding: 6px 12px;
    }
}
