
div.main-body {
    background-color: #e5e5e5;
    padding: 20px;
}

div.main-body > div.page-width {
    position: relative;
    min-height: 600px;
    overflow: hidden;
}

div.main-body > div.page-width > div {
    min-height: 600px;
    height: 100%;
}

div.main-body div.left-page {
    float: left;
    background-color: #ffffff;
    width: 690px;
}

div.main-body div.right-page {
    float: right;
    background-color: #E5EDE8;
    width: 300px;
}

div.main-body div.left-page > div.title,
div.main-body div.right-page > div.title {
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    margin: 0 10px;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

div.main-body div.right-page > div.title {
    color: #2e484c;
}

div.main-body div.right-page > div.phase span.predict-phase {
    font-style: italic;
    font-weight: bold;
}

div.main-body div.left-page div.position, div.main-body div.right-page div.phase {
    margin: 20px 10px;
}

div.main-body div.left-page div.position > span {
    margin-right: 5px;
}

div.main-body table {
    margin-left: 10px;
    margin-bottom: 40px;
    font-size: 9pt;
    border-collapse: collapse;
}

div.main-body table td, div.main-body table th {
    text-align: center;
    padding: 5px;
    border: 1px solid #ffffff;
}

div.main-body div.left-page table td.result {
    padding: 0 5px;
}

div.main-body div.left-page table td.result span {
    padding: 5px 0;
    background-position: 0 5px;
    height: 31px;
}

div.main-body div.left-page table td.result span.evaluated {
    background-color: #FFFF33;
}

div.main-body table th {
    font-weight: bold;
}

div.main-body table tr.dark {
    background-color: #EBEBED;
}

div.main-body table span.ball {
    display: inline-block;
    height: 21px;
    line-height: 21px;
    width: 20px;
    color: #fff;
    font-weight: bold;
    margin: 0 1px;
    background: url("images/ball_bg.png") no-repeat;
}

div.main-body div.right-page table span.ball {
    width: 21px;
    color: #103C10;
    background-position: -88px 0;
}

div.main-body div.right-page table span.ball.recommend {
    background-position: -66px 0;
}

/* only for firefox */
@-moz-document url-prefix() {
    div.main-body div.left-page table td, div.main-body div.left-page table th {
        padding: 5px 2px;
    }
}
